<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>PDF erzeugen</title>
        <input-field type="checkbox">
            <name>showPDFBtnInProductDetail</name>
            <label>'PDF erzeugen' im Produkt Detail anzeigen</label>
        </input-field>
        <input-field type="checkbox">
            <name>showPDFBtnInShoppingCart</name>
            <label>'PDF erzeugen' im Warenkorb anzeigen</label>
        </input-field>
    </card>
</config>